[tool.poetry]
name = "opengatewaypy"
version = "0.1.0"
description = ""
authors = ["avpps <avppsdev@gmail.com>"]
license = "Apache-2.0 license"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
