[credentials]
# Following are required
url = http://localhost/spira
username = administrator
token = {B9050F75-C5E6-4244-8712-FBF20061A976}
project_id = 1
# Following are optional:
release_id = 5
test_set_id = 1

[test_cases]
# Assigned to the rest
default = 22
# Test case for a specific function
test_add_2 = 23

TestGroup.test_add_4 = 24
TestGroup.test_add_5 = 25
