[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "SPRINT_imputations"
version = "1.0.3"
authors = [
  { name="Shubham Sharma", email="s50.sharma@qut.edu.au" },
]
description = " SPRINT alogrithm - For missing traffic data imputation"
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
  "numpy",
  "pandas",
  "scipy",
  "termcolor"
]